.profile-page {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  max-width: 1360px;
  margin: 0 auto;
  width: 100%;
}

.profile-page .clothes-section {
  flex: 1;
  min-width: 0;
}

.sidebar {
  max-width: 320px;
  flex-shrink: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  top: 80px;
  align-self: flex-start;
  z-index: 10;
  animation: slideIn 0.3s forwards;
}
.profile__back-btn {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.profile__back-btn:hover {
  opacity: 0.7;
}
@media (max-width: 768px) {
  .profile-page {
    flex-direction: column;
    gap: 20px;
    padding: 0 16px;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    max-width: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    padding: 24px;

    border-radius: 18px;
    background: #fff;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
