.weather-card {
  width: 100%;
  max-width: 1360px;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  position: relative;
  margin-bottom: 40px;
}
.weather-card__temp {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  position: absolute;
  padding-left: 16px;
  align-self: center;

  color: #ffffff;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 40px;
}
.weather-card__image {
  max-width: 1360px;

  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 80px;
}
