.app {
  max-width: 1440px;
  margin: 0 auto;
  
}
.app-layout {
  display: flex;
  flex-direction: row;
  padding:0 40px;
  max-width: 1360px;
  
}
.sidebar-open .sidebar {
  width: 320px;
  min-height: 100vh;


}
.main-content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: row;
margin:0;
}
.app-layout:not(.sidebar-open) .main-content {
justify-content: center;
align-items: center;
}

.sidebar {
  width: 0;
  flex-shrink: 0;
  overflow: hidden;
  transition: width 0.3s ease;
margin-right:72px;
  background: white;
}


