.app {
  max-width: 1440px;
  margin: 0 auto;
}
.app-layout {
  display: flex;
  flex-direction: row;
  padding: 0 40px;
  max-width: 1360px;
}
.main-content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
}
